.obsidian
.ipynb_checkpoints
Instructions_gitlab.txt
update_GitHub_steps.txt
raw_data
config.yaml
anonimized_data_10_partipants.xlsx
input
output
GITP_LLM_Jupyter_en.ipynb
GITP_LLM_Jupyter_nl.ipynb
